*{
    margin: 0;
    padding: 0;
}
body{
    
}

Headroom{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
.Movix{
    width: 100px;
    margin: 0 10px;
    display: inline-block;
    color: lightcoral;
    font-size: 2em;
}
.search{
   
}
.nav{
    display:flex;
   flex-direction: row;
   justify-self: flex-end;
   align-items: center;
}

.nav li {
   
    margin-right: 50px;
    margin-top: 10px;
}