* {
    color: white;
    background-color: rgb(26, 25, 32);
    
}

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
    background-color: rgba(0, 0, 0, 0.25);
}
.search {
    margin-left: auto;
    box-shadow: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 1.5em;
}
.navlinks {
    display: flex;
    list-style-type: none;
    padding: 0 10px 0 20px;
}
.navlinks li {
    padding: 0;
    margin-right: 10px;
}
.Movix {
    margin: 10px;
    font-size: 2em;
    color: lightcoral;
}

/* MOVIE SLIDER */

.slider{
    height: 40vw;
    background-color: none;
    
}


.movie {
  display: flex; 
}

.movie-details{
    background-color: inherit;
    list-style: none;

}
.movie-poster{
    width: 25vw;
    margin-left: 100px;
    
}

.awssld__content{
    --content-background-color: none;
}

