* {
    color: white;
    font-family: 'Montserrat', sans-serif;

}
/* The whole page */

.App{
   
}

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    background-color: rgba(0, 0, 0, 0.25);
    height: 7vh;
   
}
.search {
    margin-left: auto;
    box-shadow: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 1.5em;
}
.navlinks {
    display: flex;
    list-style-type: none;
    padding: 0 10px 0 20px;
}
.navlinks li {
    padding: 0;
    margin-right: 10px;
}
.Movix {
    margin: 10px;
    font-size: 2em;
    color: rgb(255, 70, 70);
    font-family: 'Montserrat', sans-serif;
}

/* MOVIE SLIDER */

.slider{
    position: relative;
    top: -55px;
    z-index: 0;
    height: 95vh;
}

 .movie-poster{
    width: 100vw;
    position: relative;
    top: 160px;
    
}
/* created a container for overlay on image */
.overlay::after{
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0, 0, 0, 1) 100%); /* W3C */
}

/* movie detials */
.movie .movie-details-bar{
    display: flex;
    position: relative;
    font-size: 1.2em;
    top: 70px;
    
    
}
.movie .movie-details-bar li{
    margin: 0 15px;
}
 .movie .movie-details{
    background-color: inherit;
    list-style: none;
    position: relative;
    top: -250px; 

}
.movie .movie-details-bar .star{
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 7px;
    top: 1.5px;
}
.movie-genre , .movie-release-year{
  list-style-type: disc;
}
/* movie-title */
.movie .movie-details .movie-title {
    font-size: 4em;
    font-weight: 100;
    position: relative;
    top: -70px;
}
/* movie-overview */
.movie .movie-details .movie-overview {
    position: relative;
    width: 50vw;
    padding: 0;
    margin: 0;
}

/* slider movie buttons */

.watch-movie-buttons{
    position: relative;   
    left: 1050px; 
    top: 30px;


}

.watch-movie-buttons button{
    background-color: rgb(253, 21, 21);
    border-radius: 30px;
    height: 40px;
    width: 130px;
    border: none;
    font-size: .7em;
    font-size: bold;
    text-transform: uppercase;
    box-shadow: 0px 5px 20px 4px rgba(253, 21, 21, 0.6);
}
/* slider css */
.awssld__content{
    --content-background-color: none;
}
.awssld__bullets{
    background-color: black;
    padding-top:14px;
    padding-bottom:14px;
}

/* trending now  */

.trending-now{
    background-color: #0d1013;
    position: relative;    
    top: -35px;
    
}
.trending-now h2{
    padding: 20px;
    padding-top: 50px;
    margin: 20px 40px 0px 40px;
    font-weight: 400;
    border-bottom: 3px rgba(255, 255, 255, 0.1) solid;
}

.trending-now .trending-now-movies{
  margin: 20px 50px 0 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, minmax(170px, 1fr));
  grid-template-rows: 300px;
  grid-gap: 25px;
  overflow: hidden;
  
}
.trending-now .trending-now-movies-title {
    font-size: 1em;
    font-weight: 100;
    margin-left: 55px;
    margin-top: 50px;
}
/* cards */
.trending-now .movie-card img{
    height: 250px;
    width: 180px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.9);
}

.movie-card .movie-card-title{
    list-style-type: none;
    text-align: start;
    font-size: 1em;
    font-weight: 400;
    margin-top: 5px;
    /* pretents the line from expanding and adds ... at the end */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.movie-card-details{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 10px;
    font-size: 0.7em;
    font-weight: 600;
}

.movie-card-details  .movie-card-year{
    color: rgba(255, 255, 255, 0.5);
}

.movie-card-details .movie-card-star{
    color: rgba(255, 255, 0, 0.8);
}
.movie-card-details .movie-card-star-icon{
    height: 1em;
    position: relative;
    left: 55px;
    top: 1px;
    color: rgba(255, 255, 0, 0.8);
}
/* card hover effects */

.movie-card img:hover{
    filter: blur(1.1px);
    background-clip: padding-box;
    transform: scale(1.1, 1.12);
    transition: transform  400ms ease-in-out;
}

.popular-now{
    position: relative;
    top: -55px;
}

/* about */
.about-info {
    background-color: #13161a;
    position: relative;
    /* by applying a negative margin that equals the width or height of the element get rid of white space  */
    margin-top: -65px;
    padding: 20px 0 0px 0;
}

.logo-and-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-logo{
    margin: auto;
}

.logo-and-table > p {
    font-weight: 100;
}

.about-table {
    margin: auto;
    padding: 10px;
}

.about-table > th,td{
    font-size: .8em;
    padding: 10px;
    text-align: start;
    color: rgba(255, 255, 255, 0.418);
}

.about-table th{
    font-size: .9em;
    color: rgba(255, 255, 255, 0.678);
    text-align: start;
    padding: 10px;
    font-weight: 100;
}

.copyright{
    margin: 0;
    padding: 10px 0 0 0;
    text-align: center;
    font-size: .7em;
    font-weight: 100;
}









